<form (ngSubmit)="saveUser()" #addForm="ngForm">
  <table class="table table-border">
    <tr><th colspan="2">Add User</th></tr>
    <tr><td>First Name</td>
      <td><input [(ngModel)]="user.firstName" name ="firstName" #firstName=ngModel required
            placeholder="Enter First Name" pattern="[A-Za-z]{5,}"></td>
          <div *ngIf="firstName.invalid" class="alert alert-danger">
            First name is required
          </div>
      </tr>
    <tr><td>Last Name</td>
      <td><input [(ngModel)]="user.lastName" name ="lastName"  #lastName=ngModel required
              placeholder="Enter Last Name" pattern="[A-Za-z]{5,}"></td>
               <div *ngIf="lastName.invalid" class="alert alert-danger">
                Last name is required
              </div> 
            </tr>
    <tr><td>Email ID</td>
        <td><input [(ngModel)]="user.email" name ="email" type="email" #email=ngModel required
              pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" placeholder="Enter valid email" /></td>
              <div *ngIf="email.invalid" class="alert alert-danger">
                Email is required
              </div></tr>
    <tr><td>Mobile No.</td>
        <td><input [(ngModel)]="user.mobile" name ="mobile" #mobile=ngModel required 
              pattern="[0-9]{10}" placeholder="Enter Mobile No"></td>
              <div *ngIf="mobile.invalid" class="alert alert-danger">
                Mobile No. is required
              </div>
            </tr>
    <tr><th colspan="2">
        <button type="submit" [disabled]="!addForm.valid">Save User</button>
    </th></tr>
  </table>  
</form>

{{addForm.valid | json}}
{{addForm.value}}
<div class="container">
  <table class="table table-bordered">
      <thead>
          <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Mobile</th>
             
          </tr>
      </thead>
      <tbody>
          <!----------------USING *ngFor------------------------>
          <tr *ngFor="let user of userList;let i = index">
              
              <td>{{i+1}}</td>
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.email}}</td>
              <td>{{user.mobile}}</td>
             
          </tr>
      </tbody>
  </table>
  <div *ngFor="let user of userList">
  {{ user | json}}
  </div>
</div>